:root {
  --main-color: #2eba69
}
* {
  animation-duration: 0s !important;
  --antd-wave-shadow-color: none !important;
}

[ant-click-animating-without-extra-node]:after {
	animation: 0s !important;
}

.ant-btn-primary {
  background-color: #2eba69 !important;
  border-color: #2eba69 !important;
}

.ant-btn-primary:active {
  background-color: #1e7b45 !important;
}

.atn-btn {

  border-color: #2eba69 !important;
}

.ant-btn:active, .atn-btn:hover {
  border-color: none !important;
}

.text-muted {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-weight: 500;
}




