.ImgSearch {
  background: url("../../image/homepagesearch.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.FlexCenter {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.InputPosition {
  height: 250px;
}

.InputStyle {
  width: 85%;
  margin-bottom: 5px;
}

.Circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 18px;
  color: white;
}

.Flex {
  display: flex;
  justify-content: center;
}

.TrendingContainer {
  width: 100%;
  height: 315px;
  margin: 20px 0;
  padding: 1.25em;
  background-color: #ffffff;
}

.CardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
}

.CardRestaurant {
  width: 275px;
  height: 90%;
  margin: 10px 30px 5px 0;
}
