
.FilterContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #dedede;
}


.InlineCheckbox {
  display: block;
  margin-right: 0;
}

.DividerCustom {
  margin: 15px 0 23px;
}
